@rendermode InteractiveServer
@page "/words"

<h3>Words</h3>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="startingGroupId">Starting Group ID</label>
                <InputSelect @bind-Value="@StartingGroupId" id="startingGroupId" class="form-control">
                    <option value="0" selected>--Select Starting Group ID--</option>
                    @foreach(var group in AllGroupIds)
                    {
                        <option value="@group">@group</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="endingGroupId">Ending Group ID</label>
                <InputSelect @bind-Value="@EndingGroupId" id="endingGroupId" class="form-control">
                    <option value="0" selected>--Select Ending Group ID--</option>
                    @foreach (var group in AllGroupIds)
                    {
                        <option value="@group">@group</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="col-md-3">
            <button @onclick="PopulateWordsList" class="btn btn-primary">Populate Words</button>
        </div>
    </div>
    <div class="row">
        @if(WordsByGroup?.Count > 0)
        {
            @foreach(var grouping in WordsByGroup)
            {
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Group @grouping.GroupId</h6>

                            <table class="table">
                                <tbody>
                                    @foreach (var word in grouping.Words)
                                    {
                                        <tr>
                                            <div class="py-2">
                                                <button @onkeypress="(e) => OnKeyPressed(e, word)" class="@word.WordBootstrapClass">@word.WordToMemorize</button>
                                            </div>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <div class="pt-2">
                    <div class="alert alert-info" role="alert">
                        No words to display. Please select a starting and ending group ID and click on the Populate Words button.
                    </div>
                </div>
            </div>
        }
    </div>
</div>

