@rendermode InteractiveServer
@page "/words"
@page "/"
<PageTitle>Words</PageTitle>
<h3>Words</h3>

<script>
    var editProposedUtilizationsModal = document.getElementById('wordMeaningModal')
    editProposedUtilizationsModal.addEventListener('shown.bs.modal', function () {
        editProposedUtilizationsModal.focus()
    })

    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('wordMeaningModal'));
        myModal.show();
    }
</script>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="startingGroupId">Starting Group ID</label>
                <InputSelect @bind-Value="@StartingGroupId" id="startingGroupId" class="form-control">
                    <option value="0" selected>--Select Starting Group ID--</option>
                    @foreach(var group in AllGroupIds)
                    {
                        <option value="@group">@group</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="endingGroupId">Ending Group ID</label>
                <InputSelect @bind-Value="@EndingGroupId" id="endingGroupId" class="form-control">
                    <option value="0" selected>--Select Ending Group ID--</option>
                    @foreach (var group in AllGroupIds)
                    {
                        <option value="@group">@group</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="col-md-3">
            <button @onclick="PopulateWordsListAsync" class="btn btn-primary">Populate Words</button>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-3">
            <button class="btn btn-warning btn-sm" @onclick="ShuffleWordsWithinGroup">Shuffle Words within Group</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-warning btn-sm" @onclick="ShuffleEverything">Shuffle Everything</button>
        </div>
    </div>
    <div class="row pt-4">
        @if(WordsByGroup?.Count > 0)
        {
            @foreach(var grouping in WordsByGroup)
            {
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Word Group</h6>

                            <table class="table">
                                <tbody>
                                    @foreach (var word in grouping.Words)
                                    {
                                        <tr>
                                            <div class="py-2">
                                                <button @onkeypress="(e) => OnKeyPressed(e, word)" class="@word.WordBootstrapClass">G:@word.GroupId @word.WordToMemorize</button>
                                            </div>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <div class="pt-2">
                    <div class="alert alert-info" role="alert">
                        No words to display. Please select a starting and ending group ID and click on the Populate Words button.
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row pt-4">
        <div class="col-md-3">
            <button class="btn btn-success" @onclick="SaveSessionDetailsAsync">Save Session Details</button>
        </div>
    </div>
</div>


<div class="modal fade" id="wordMeaningModal" tabindex="-1" aria-labelledby="wordMeaningModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Meaning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if(IsLoading)
                {
                    <div class="spinner-border text-primary" role="status">
                    </div>
                }
                else if(Meanings?.Count > 0)
                {
                    <ul class="list-group">
                        @foreach (var meaning in Meanings)
                        {
                            <li class="list-group-item">@meaning</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

